.cardPokemon {
    display: inline-block;
    margin: 10px;
    border: 2px solid gray;
    max-width: 200px;
    height: 100px;
    width: 100%;
}

.cardPokemon h1 {
    font-family: "arial";
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
}